<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Belly Button Biodiversity</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <style>
        .jumbotron{
            background-image: url("https://uci.bootcampcontent.com/UCI-Coding-Bootcamp/UCIRV201801DATA3-Class-Repository-DATA/raw/master/02-Homework/15-Interactive-Visualizations-and-Dashboards/Instructions/Images/bacteria_by_filterforgedotcom.jpg")
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="jumbotron" style="text-align: center; color: white">
            <h1>Belly Button Biodiversity</h1>
            <h1>Dashboard</h1>
            <p>Use the interactive charts below to explore the dataset</p>
        </div>
    </div>  
    <div class="container">
        <div class="col-md-2">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="selDataset">Choose a Sample:</label>
                            <select id="selDataset" onchange="getData(this.value)">

                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: #4286f4">
                        <strong style="color: white">Sample MetaData</strong>
                    </div>
                    <div class="panel-body" id="metadataSample" style="font-weight: bold">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="pie">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="gauge">
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <div class="container">
        <div id="bubble_chart">

        </div>
    </div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>